body{
    background-color: black;
}
.bannerSection{
    background: radial-gradient(circle at right center,
            rgb(43, 0, 100),
            #000000ec 70%);
    
    color: white;
}
.companySection{
    background: radial-gradient(circle at right center,
            rgb(43, 0, 100),
            #000000ec 70%);
    color: white;
}
.reviewSection{
    background: radial-gradient(circle at right,
    rgb(43, 0, 100),
    #000000ec 70%);  color: white;
}
.packageSection{
    background: radial-gradient(circle at  center,
    rgb(43, 0, 100),
    rgb(12, 0, 20) 50%);  color: white;
}
.contactUsSection{
    background: radial-gradient(circle at  center,
    rgb(43, 0, 100),
    rgb(12, 0, 20) 50%);  color: white;
}
.premiumButton{
    background-image: linear-gradient(to right, rgb(124, 0, 155)5%, rgb(68, 19, 201)100%);  color: white;
}
.premiumText {
    background-image: linear-gradient(to right, rgb(124, 0, 155)5%, rgb(72, 20, 194)100%);
    -webkit-background-clip: text; 
    color: transparent;
}